/* ==UserStyle==
@name         GitLab Dark by Mew
@description  Dark theme for GitLab.
@namespace    gitlab.com/vednoc/gitlab-dark
@version      0.1.0
@author       vednoc
@preprocessor uso

@var color dark    "Dark color."    #222222
@var color darker  "Darker color."  #141414
@var color light   "Light color."   #d1d1d1
@var color lighter "Lighter color." #e9e9e9
@var color icon    "Icon color."    #e1e1e1
@var color accent  "Accent color."  #7289da
@var color blue    "Blue color."    #527AA3
@var color green   "Green color."   #70A352
@var color red     "Red color."     #A3525B
@var color shadow  "Shadow"         rgba(0,0,0,0.07)
==/UserStyle== */

@-moz-document domain("gitlab.com") {
  :root {
    --dark:    /*[[dark]]*/;
    --darker:  /*[[darker]]*/;
    --light:   /*[[light]]*/ ;
    --lighter: /*[[lighter]]*/;
    --accent:  /*[[accent]]*/;
    --icon:    /*[[icon]]*/;
    --shadow:  /*[[shadow]]*/;
    --red:     /*[[red]]*/;
    --green:   /*[[green]]*/;
    --blue:    /*[[blue]]*/;
  }

  body {
    color: var(--light) !important;
    background-color: var(--dark) !important;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--lighter) !important;
  }

  a {
    transition: 200ms ease-in-out;
    color: var(--accent);
  }
  a:hover {
    /* opacity: 0.7; */
    color: var(--accent);
  }


  /* Bootstrap reset. */
  .btn, .btn:hover {
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .btn.btn-success,
  .btn.btn-new,
  .btn.btn-create,
  .btn.comment-btn,
  .btn.btn-save {
    color: var(--lighter) !important;
    border-color: var(--green) !important;
    background-color: var(--green) !important;
  }
  /* Global. */
  [class^="btn"] {
    transition: 200ms ease-in-out !important;
  }
  [class^="btn"]:hover {
    opacity: 0.7 !important;
  }


  /* Sign in page. */
  body.navless {
    color: var(--light) !important;
    background-color: var(--dark) !important;
  }
  /* Navbar. */
  .navbar-empty {
    border-bottom-color: var(--darker);
    background-color: var(--darker);
  }

  /* Sign in/register buttons. */
  .login-page .new-session-tabs {
    border-color: var(--darker);
    box-shadow: 0 0 0 1px var(--darker);
  }
  .login-page .new-session-tabs li {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--darker) !important;
  }
  .login-page .new-session-tabs li a.active,
  .login-page .new-session-tabs li a:hover {
    color: var(--lighter) !important;
    border-color: var(--accent) !important;
    background-color: var(--darker) !important;
  }

  /* Sign in/register section. */
  .login-page .login-box,
  .login-page .omniauth-container {
    box-shadow: 0 0 0 1px var(--darker);
  }
  .login-page .form-group input {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background: var(--dark) !important;
  }
  /* Misc text color. */
  .login-page .light,
  .login-page .description-block {
    color: var(--light);
  }

  /* Footer. */
  hr.footer-fixed {
    border-top-color: var(--darker);
    background: none !important;
  }
  .footer-container {
    background: none !important;
  }
  .footer-container a {
    color: var(--accent);
  }


  /* Navbar. */
  .navbar {
    background: var(--darker) !important;
    border-color: var(--darker) !important; }
  /* Logo text color. */
  .navbar .logo-text svg {
    fill: var(--lighter) !important }
  /* Search. */
  .navbar .search form {
    color: var(--lighter) !important;
    background-color: var(--dark) !important;
    background-color: var(--dark) !important; }
  .navbar #search {
    color: var(--lighter) !important;
  }


  /* Dropdowns. */
  .dropdown-menu,
  .dropdown-menu-nav {
    box-shadow: 0 2px 8px var(--shadow);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Dropdown toggle. */
  .dropdown-toggle,
  .dropdown-menu-toggle {
    color: var(--light);
    border-color: var(--darker) !important;
    background-color: var(--dark);
  }
  /* Items. */
  .dropdown-menu li a,
  .dropdown-header,
  .dropdown-menu .current-user,
  .navbar-sub-nav {
    color: var(--lighter) !important;
  }
  /* Divider. */
  .dropdown-menu .divider {
    border-color: var(--darker);
  }
  /* On event. */
  .dropdown-menu li a:not(.disable-hover):hover,
  .dropdown-menu li a.is-focused {
    color: var(--light);
    background-color: var(--darker) !important;
  }
  /* Open dropdowns. */
  .navbar-sub-nav > li.active > button,
  .navbar-sub-nav > li > button:hover,
  .navbar-sub-nav > li > a:hover,
  .dropdown.show > button,
  .dropdown.show > a {
    color: var(--lighter) !important;
    background-color: var(--dark) !important;
  }
  /* Icon colors. */
  .nav a svg,
  .nav .dropdown.show a:hover svg {
    fill: var(--icon) !important;
  }


  /* New project. */
  .gitlab-tabs {
    border-color: var(--darker) !important;
    background-color: var(--darker) !important;
  }
  .gitlab-tabs li:not(:last-child) {
    border-right-color: var(--darker);
  }
  /* On event. */
  .gitlab-tabs li a.active,
  .gitlab-tabs li a:hover {
    color: var(--lighter) !important;
    border-color: var(--accent) !important;
    background-color: var(--dark) !important;
  }

  /* Tab content. */
  .gitlab-tab-content {
    border-color: var(--darker);
  }
  /* Inputs. */
  .gitlab-tab-content [class*="input-group"] {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: transparent !important;
  }
  /* Text colors. */
  .gitlab-tab-content label,
  .option-title {
    color: var(--lighter) !important;
  }
  .option-description {
    color: var(--light) !important;
  }
  .account-btn-link,
  .profile-settings-sidebar a,
  .settings-sidebar a {
    color: var(--accent);
  }
  /* Form control. */
  .form-control {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  .form-control:focus {
    box-shadow: 0 0 0.3rem 0 var(--blue);
  }


  /* Projects dashboard. */
  .breadcrumbs .breadcrumbs-container {
    border-color: var(--darker) !important;
  }
  .breadcrumbs,
  .breadcrumbs-sub-title a {
    color: var(--lighter);
  }

  /* Nav section. */
  .top-area,
  .nav-links,
  .wiki-page-header {
    border-bottom-color: var(--darker);
  }
  .nav-links li a {
    color: var(--light);
  }
  .nav-links li.active a,
  .nav-links li:hover a {
    color: var(--lighter);
    border-bottom-color: var(--accent) !important;
  }


  /* Projects list. */
  .projects-list > li {
    padding: 5px 0;
    border-bottom-color: var(--darker);
  }
  /* Avatar background. */
  .avatar,
  .avatar-circle,
  .avatar-container {
    border-color: var(--darker) !important;
  }
  .identicon {
    color: var(--light);
    background-color: transparent !important;
  }
  /* Project details. */
  .project-details .text-plain {
    color: var(--light);
  }
  .project-details .text-plain:hover {
    color: var(--lighter);
  }
  .user-access-role {
    color: var(--light);
    border-color: var(--darker);
  }


  /* Left sidebar. */
  .nav-sidebar {
    background: var(--darker);
    box-shadow: inset -2px 0 0 var(--darkerz);
  }
  /* Items. */
  .nav-sidebar li a {
    color: var(--light);
  }
  .nav-sidebar li a:hover {
    color: var(--lighter);
  }
  /* Dropdown. */
  .is-showing-fly-out .sidebar-sub-level-items {
    box-shadow: 2px 1px 3px var(--shadow) !important;
    border-radius: 0 4px 4px 0 !important;
    border-color: var(--darker) !important;
    background-color: var(--darker) !important;
  }
  /* Items. */
  .sidebar-sub-level-items a {
    color: var(--light) !important;
  }
  .sidebar-sub-level-items a:hover {
    background-color: var(--dark) !important;
  }
  /* Toggle button. */
  .toggle-sidebar-button,
  .close-nav-button {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--darker) !important;
  }


  /* Project/group page. */
  .project-home-panel,
  .group-home-panel {
    border-bottom-color: var(--darker);
    background-color: var(--shadow);
  }
  /* Button group. */
  .input-group-prepend,
  .input-group-append {
    background-color: transparent !important;
  }
  /* Buttons. */
  .count-with-arrow .count,
  .clone-dropdown-btn,
  .btn-clipboard {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Arrows. */
  .count-with-arrow .arrow::before {
    border-right-color: var(--darker) !important;
  }
  .count-with-arrow .arrow::after {
    border-right-color: var(--dark) !important;
  }
  /* Missing buttons. */
  .btn-missing {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
  }
  .btn-missing:hover {
    background-color: var(--darker) !important;
  }
}