/* ==UserStyle==
@name         GitLab Dark by Mew
@description  Dark theme for GitLab.
@namespace    gitlab.com/vednoc/gitlab-dark
@version      0.1.0
@author       vednoc
@preprocessor uso

@var color dark    "Dark color."    #222222
@var color darker  "Darker color."  #141414
@var color light   "Light color."   #d1d1d1
@var color lighter "Lighter color." #e9e9e9
@var color icon    "Icon color."    #e1e1e1
@var color accent  "Accent color."  #7289da
@var color blue    "Blue color."    #527AA3
@var color green   "Green color."   #70A352
@var color red     "Red color."     #A3525B
@var color shadow  "Shadow"         rgba(0,0,0,0.07)

@var text maxWidth "Fixed width"    1280px
==/UserStyle== */

@-moz-document domain("gitlab.com") {
  :root {
    --dark:    /*[[dark]]*/;
    --darker:  /*[[darker]]*/;
    --light:   /*[[light]]*/ ;
    --lighter: /*[[lighter]]*/;
    --accent:  /*[[accent]]*/;
    --icon:    /*[[icon]]*/;
    --shadow:  /*[[shadow]]*/;
    --red:     /*[[red]]*/;
    --green:   /*[[green]]*/;
    --blue:    /*[[blue]]*/;
    --width:   /*[[maxWidth]]*/;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--shadow);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--light) !important;
  }

  a {
    transition: 200ms ease-in-out;
    color: var(--accent);
  }
  a:hover,
  a:focus {
    /* opacity: 0.7; */
    color: var(--accent);
  }


  /* Button reset. */
  .btn, .btn:hover {
    transition: 200ms ease-in-out !important;
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Green buttons. */
  .btn.btn-success,
  .btn.btn-new,
  .btn.btn-create,
  .btn.comment-btn,
  .btn.btn-save {
    color: var(--lighter) !important;
    border-color: var(--green) !important;
    background-color: var(--dark) !important;
  }
  /* Blue buttons. */
  .btn.btn-info,
  .btn.btn-primary,
  .btn.btn-register,
  .project-feature-toggle.is-checked {
    color: var(--lighter) !important;
    border-color: var(--blue) !important;
    background-color: var(--blue) !important;
  }
  /* Close buttons. */
  .btn.btn-close,
  .btn.btn-close-color {
    color: var(--lighter) !important;
    border-color: var(--red) !important;
    background-color: var(--dark) !important;
  }
  /* Disabled buttons. */
  .btn[disabled],
  .btn[disabled]:hover {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
    opacity: 0.6 !important;
  }
  /* On event. */
  .btn:hover:not([disabled="disabled"]),
  .btn:focus:not([disabled="disabled"]) {
    transform: translateY(-2px);
  }

  /* Global styles. */
  [class*="author-link"] {
    color: var(--accent) !important;
  }

  /* Sign in page. */
  body,
  body.navless {
    color: var(--light) !important;
    background-color: var(--dark) !important;
  }
  /* Navbar. */
  .navbar-empty {
    border-bottom-color: var(--darker);
    background-color: var(--darker);
  }

  /* Sign in/register buttons. */
  .login-page .new-session-tabs {
    border-color: var(--darker);
    box-shadow: 0 0 0 1px var(--darker);
  }
  .login-page .new-session-tabs li {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--darker) !important;
  }
  .login-page .new-session-tabs li a.active,
  .login-page .new-session-tabs li a:hover {
    color: var(--lighter) !important;
    border-color: var(--accent) !important;
    background-color: var(--darker) !important;
  }

  /* Sign in/register section. */
  .login-page .login-box,
  .login-page .omniauth-container {
    box-shadow: 0 0 0 1px var(--darker);
  }
  .login-page .form-group input {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background: var(--dark) !important;
  }
  /* Misc text color. */
  .light,
  .description-block {
    color: var(--light) !important;
  }

  /* Footer. */
  hr.footer-fixed {
    border-top-color: var(--darker);
    background: none !important;
  }
  .footer-container {
    background: none !important;
  }
  .footer-container a {
    color: var(--accent);
  }


  /* Navbar. */
  .navbar {
    background: var(--darker) !important;
    border-color: var(--darker) !important; }
  /* Logo text color. */
  .navbar .logo-text svg {
    fill: var(--lighter) !important }
  /* Search. */
  .navbar .search form {
    color: var(--lighter) !important;
    background-color: var(--dark) !important;
    background-color: var(--dark) !important; }
  .navbar #search {
    color: var(--lighter) !important;
  }
  /* Collapsable nav. */
  .navbar-collapse ul > li:hover a {
    background-color: var(--dark) !important;
  }
  /* Input placeholder. */
  .navbar input::placeholder {
    color: var(--light) !important;
  }


  /* Dropdowns. */
  .dropdown-menu,
  .dropdown-menu-nav {
    box-shadow: 0 2px 8px var(--shadow);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Title. */
  .dropdown-title {
    color: var(--lighter);
    border-bottom-color: var(--darker);
  }
  /* Dropdown toggle. */
  .dropdown-toggle,
  .dropdown-menu-toggle {
    color: var(--light);
    border-color: var(--darker) !important;
    background-color: var(--dark);
  }
  /* Dropdown search. */
  .dropdown-input-field,
  .default-dropdown-input {
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* On event. */
  .dropdown-input-field:focus,
  .default-dropdown-input:focus {
    border-color: var(--blue);
    box-shadow: 0 0 1px 3px var(--shadow);
  }
  /* Separator. */
  .dropdown-menu .divider,
  .dropdown-menu [class*="dropdown-sidebar"] {
    border-color: var(--darker);
  }
  /* Items. */
  .dropdown-menu li a,
  .dropdown-menu li button,
  .dropdown-menu li .menu-item,
  .dropdown-header,
  .dropdown-menu .current-user,
  .navbar-sub-nav {
    color: var(--light) !important;
  }
  /* On event. */
  .dropdown-menu li button:hover,
  .dropdown-menu li a:not(.disable-hover):hover,
  .dropdown-menu li a:focus,
  .dropdown-menu li a.is-focused,
  .dropdown-menu .droplab-item-selected > .menu-item,
  .dropdown-menu > li:hover > .menu-item {
    color: var(--light);
    background-color: var(--darker) !important;
  }
  /* Open dropdowns. */
  .navbar-sub-nav > li.active > button,
  .navbar-sub-nav > li > button:hover,
  .navbar-sub-nav > li > a:hover,
  .dropdown.show > button,
  .dropdown.show > a {
    color: var(--lighter) !important;
    background-color: var(--dark) !important;
  }
  /* Text color. */
  .dropdown-toggle-text.is-default {
    color: var(--light);
  }
  .dropdown-menu .form-group label {
    color: var(--lighter);
  }
  /* Icon colors. */
  .nav a svg,
  .nav .dropdown.show a:hover svg {
    fill: var(--icon) !important;
  }


  /* A brand new dropdown? */
  .select2-drop,
  .select2-drop.select2-drop-above {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Input/select elements. */
  .select2-choice,
  .select2-drop input {
    color: var(--light) !important;
    border-color: var(--darker);
    background-color: transparent !important;
  }
  /* On event. */
  .select2-results .select2-highlighted {
    color: var(--lighter);
  }
  .select2-results .select2-highlighted .select2-result-label {
    background-color: var(--darker);
  }


  /* New project. */
  .gitlab-tabs {
    border-color: var(--darker) !important;
    background-color: var(--darker) !important;
  }
  .gitlab-tabs li:not(:last-child) {
    border-right-color: var(--darker);
  }
  /* On event. */
  .gitlab-tabs li a.active,
  .gitlab-tabs li a:hover {
    color: var(--lighter) !important;
    border-color: var(--accent) !important;
    background-color: var(--dark) !important;
  }

  /* Tab content. */
  .gitlab-tab-content {
    border-color: var(--darker);
  }
  /* Inputs. */
  .gitlab-tab-content [class*="input-group"] {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: transparent !important;
  }
  /* Text colors. */
  .gitlab-tab-content label,
  .option-title {
    color: var(--lighter) !important;
  }
  .option-description {
    color: var(--light) !important;
  }
  .account-btn-link,
  .profile-settings-sidebar a,
  .settings-sidebar a {
    color: var(--accent);
  }
  /* Form control. */
  .form-control {
    transition: 200ms ease-in-out !important;
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* On event. */
  .form-control:hover,
  .form-control:focus {
    border-color: var(--blue) !important;
    box-shadow: 0 0 2px 1px var(--shadow);
  }


  /* Projects dashboard. */
  .breadcrumbs .breadcrumbs-container {
    border-color: var(--darker) !important;
  }
  .breadcrumbs,
  .breadcrumb.repo-breadcrumb a,
  .breadcrumbs-list > li > a,
  .breadcrumbs-sub-title a {
    color: var(--lighter);
  }

  /* Nav section. */
  .top-area,
  .nav-links,
  .wiki-page-header {
    border-bottom-color: var(--darker);
  }
  .nav-links li a,
  .nav-links li a .badge.badge-pill {
    color: var(--light) !important;
  }
  .nav-links li.active a,
  .nav-links li:hover a,
  .nav-links li.active a .badge.badge-pill {
    color: var(--lighter) !important;
    border-bottom-color: var(--accent) !important;
  }


  /* Projects list. */
  .projects-list > li {
    padding: 5px 0;
    transition: 200ms ease-in-out;
    border-bottom-color: var(--darker);
  }
  /* On event. */
  .projects-list > li:hover {
    background-color: var(--shadow);
  }
  /* Avatar background. */
  .avatar,
  .avatar-circle,
  .avatar-container {
    border-color: var(--darker) !important;
    background-color: transparent !important;
  }
  .avatar-container,
  .identicon {
    color: var(--light);
  }

  /* Project details. */
  .project-details .text-plain,
  .project-stats .nav .stat-link {
    color: var(--light);
  }
  .project-details .text-plain:hover,
  .project-stats .nav .stat-link:hover {
    color: var(--lighter);
  }
  .user-access-role {
    color: var(--light);
    border-color: var(--darker);
  }

  /* Commits. */
  .commit-header {
    border-color: var(--darker);
    background-color: var(--darker);
  }
  ul.content-list li {
    border-color: var(--darker);
  }
  ul.content-list li a {
    color: var(--lighter);
  }

  /* Branch info border color. */
  .commit-box,
  .info-well .well-segment:not(:last-of-type) {
    border-color: var(--darker);
  }
  /* Recently pushed branches. */
  .container-fluid > .row-content-block.white {
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid var(--darker);
    border-top: 2px solid var(--accent);
    background-color: var(--dark);
  }
  /* Diff summary. */
  .diff-files-changed {
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }
  /* TODO: Remove if they fix diff header. */
  .diff-files-changed .commit-stat-summary {
    background-color: var(--transparent) !important;
  }
  /* Diff file header. */
  .diff-file .file-title:hover,
  .diff-file .file-title-flex-parent:hover,
  .diff-file .diff-content {
    background-color: var(--dark);
  }
  /* Text color. */
  .branch-info > span,
  .file-title-flex-parent a {
    color: var(--light);
  }
  /* Badge. */
  .info-well .badge.badge-gray {
    color: var(--light);
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }


  /* Timeline content. */
  .timeline-entry {
    color: var(--light);
    border-color: var(--darker);
    background-color: transparent;
  }
  /* Comments. */
  .notes .timeline-entry-inner {
    border-color: var(--darker) !important;
  }
  .note-headline-light,
  .discussion-headline-light,
  .note-headline-meta .system-note-separator {
    color: var(--light);
  }
  /* Text color. */
  ul.notes>li .note-body .note-text blockquote p, ul.notes>li .note-body .note-text .blockquote p {
    color: var(--light) !important;
  }
  .notes a,
  .notes a:hover {
    color: var(--accent) !important;
  }

  /* Issues :: Details - add comment. */
  .common-note-form .md-area {
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* On focus. */
  .common-note-form .md-area.is-focused {
    outline: none !important;
    box-shadow: 0 0 2px 4px var(--shadow) !important;
  }
  /* Input area. */
  .markdown-area {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Toolbar colors. */
  .edited-text,
  .comment-toolbar,
  .nav-links,
  .md {
    color: var(--light);
    border-color: var(--darker) !important;
  }
  /* Markdown selectors. */
  .md h1,
  .md h2 {
    border-color: var(--darker) !important;
  }
  .md hr {
    border-color: var(--darker);
  }
  .md pre {
    border-color: var(--darker);
  }
  .md blockquote,
  .blockquote {
    border-left-color: var(--accent) !important;
    background-color: var(--shadow);
  }
  /* Images. */
  .md img:not(.emoji) {
    border-color: var(--darker);
  }
  /* Attach a file. */
  .markdown-selector {
    color: var(--accent);
  }
  /* Fullscreen (zen) mode. */
  .zen-backdrop.fullscreen {
    background-color: var(--darker);
  }
  .zen-backdrop.fullscreen textarea {
    color: var(--light);
    background-color: var(--dark);
  }


  /* Left sidebar. */
  .nav-sidebar {
    border-right: 1px solid var(--darker) !important;
    background-color: var(--dark);
    box-shadow: none;
  }
  /* Hide scrollbar. */
  .nav-sidebar ::-webkit-scrollbar {
    display: none !important;
  }
  /* Items. */
  .nav-sidebar li a,
  .sidebar-sub-level-items a,
  .nav-sidebar .context-header > a {
    color: var(--light) !important;
  }
  .nav-sidebar li a:hover,
  .sidebar-sub-level-items a:hover {
    color: var(--lighter) !important;
    background-color: var(--shadow) !important;
  }

  /* Active sub-menu. */
  .nav-sidebar li.active {
    box-shadow: inset 4px 0 0 0 var(--accent) !important;
    background-color: var(--shadow) !important;
  }
  .nav-sidebar li.active .badge {
    color: var(--lighter) !important;
  }
  .nav-sidebar li.active svg,
  .toggle-sidebar-button svg {
    fill: var(--accent) !important;
  }

  /* Collapse button. */
  .nav-sidebar .toggle-sidebar-button {
    transition: 200ms ease-in-out !important;
    height: 44px;
  }
  .toggle-sidebar-button .collapse-text {
    color: var(--light) !important;
  }

  /* Dropdown. */
  .is-showing-fly-out .sidebar-sub-level-items {
    box-shadow: 2px 1px 3px var(--shadow) !important;
    border-radius: 0 4px 4px 0 !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Toggle button. */
  .toggle-sidebar-button,
  .close-nav-button {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark) !important;
  }


  /* Right sidebar. */
  .right-sidebar {
    border-left-color: var(--darker);
    background-color: var(--dark);
  }
  /* Separator. */
  .right-sidebar .block,
  .right-sidebar .gutter-toggle {
    border-bottom-color: var(--darker) !important;
  }
  /* Button background. */
  .right-sidebar .js-move-issue:hover,
  .right-sidebar.right-sidebar-collapsed .block:hover {
    background-color: var(--shadow) !important;
  }
  /* Text color. */
  .right-sidebar .title {
    color: var(--lighter);
  }
  .right-sidebar .no-value,
  .right-sidebar .sidebar-collapsed-icon {
    color: var(--light) !important;
  }
  .right-sidebar .btn-link,
  .right-sidebar .edit-link,
  .right-sidebar .lock-edit,
  .right-sidebar .confidential-edit {
    color: var(--lighter) !important;
  }
  /* Icons. */
  .right-sidebar .fa,
  .right-sidebar svg {
    color: var(--icon) !important;
    fill: var(--icon) !important;
  }


  /* Project/group page. */
  .project-home-panel,
  .group-home-panel {
    border-bottom-color: var(--darker);
  }
  /* Button group. */
  .input-group-prepend,
  .input-group-append {
    background-color: transparent !important;
  }
  /* Buttons. */
  .count-with-arrow .count,
  .clone-dropdown-btn,
  .btn-clipboard {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Arrows. */
  .count-with-arrow .arrow::before {
    border-right-color: var(--darker) !important;
  }
  .count-with-arrow .arrow::after {
    border-right-color: var(--dark) !important;
  }
  /* Missing buttons. */
  .btn-missing {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
  }
  .btn-missing:hover {
    background-color: var(--darker) !important;
  }
  /* Border colors. */
  .banner-callout.banner-non-empty-state,
  .project-stats {
    border-bottom-color: var(--darker);
  }

  /* Latest commit message.. */
  .info-well {
    color: var(--light);
    border-color: var(--darker);
    background: var(--dark);
  }
  .info-well a {
    color: var(--lighter);
  }
  /* Commit button. */
  .commit-sha-group .label,
  .commit-sha-group .btn {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  

  /* Readme wrapper. */
  .file-holder {
    overflow: hidden;
    border-color: var(--darker) !important; }
  /* Readme header. */
  .tree-holder .file-title a:not(.btn) {
    color: var(--lighter);
  }
  /* Readme preview. */
  .file-holder .file-title-flex-parent,
  .file-holder .file-content {
    border-color: var(--darker);
    background: var(--dark);
  }

  /* Wiki. */
  .wiki {
    color: var(--light);
  }
  .wiki h1,
  .wiki h2 {
    color: var(--lighter) !important;
    border-bottom-color: var(--darker) !important;
  }
  .wiki a {
    color: var(--accent) !important;
  }
  .wiki pre,
  .wiki code {
    color: var(--lighter) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  .wiki > p > code {
    border: 1px solid var(--darker) !important;
  }


  /* Files. */
  .table-holder {
    border-radius: 4px;
    border: 1px solid var(--darker) !important;
  }
  /* Remove unnecessary borders. */
  .tree-holder .tree-table tr {
    border-color: transparent !important;
  }
  .tree-holder .tree-table tr td {
    border-color: var(--darker) !important;
  }
  /* Text color. */
  .tree-holder .tree-item .tree-item-file-name i,
  .tree-holder .tree-item .tree-item-file-name a,
  .tree-holder .tree-commit .tree-commit-link,
  .tree-holder .tree-time-ago {
    color: var(--light);
  }
  /* Background colors. */
  table.table tr th,
  .file-holder .file-title,
  .tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
    border-color: var(--darker);
    background-color: var(--darker);
  }


  /* Profile cover. */
  .cover-block {
    border-color: var(--darker);
    background: var(--dark);
  }
  /* Scrolling tabs. */
  .scrolling-tabs-container {
    background-color: var(--dark);
  }
  .scrolling-tabs-container .fade-right {
    background: linear-gradient(to left, var(--dark) 45%, transparent);
  }
  .scrolling-tabs-container .fade-left {
    background: linear-gradient(to right, var(--dark) 45%, transparent);
  }
  /* Profile activity. */
  #activity > .row-content-block {
    border-color: var(--darker) !important;
    background-color: transparent !important;
  }
  /* White activity rectangles. */
  #activity rect[fill*="#ededed"] {
    fill: var(--darker);
  }
  /* Nav. */
  .nav-links li a.active {
    color: var(--lighter) !important;
    border-color: var(--accent) !important;
  }

  /* Most recent activity. */
  #activity .event-item {
    color: var(--light);
    border-bottom-color: var(--darker);
  }
  /* Text color. */
  .cover-block .cover-desc,
  .nothing-here-block,
  .calendar-hint,
  .event-item .event-title,
  .content-list li {
    color: var(--light) !important;
  }
  /* Emphasized text color. */
  .cover-block .cover-title,
  .event-item a,
  .event-item .commit-sha{
    color: var(--lighter) !important;
  }
  /* Icons. */
  [class*="pushed-"] svg {
    fill: var(--icon) !important;
  }


  /* Dashboard. */
  .row-content-block {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  [class*="card"] > ul > li {
    transition: 200ms ease-in-out;
  }
  /* Text color. */
  .issuable-milestone,
  .issuable-info,
  .task-status,
  .issuable-updated-at {
    color: var(--light) !important;
  }
  /* Merged/closed. */
  .merge-request.merged,
  .issue.merged,
  .merge-request.closed,
  .issue.closed {
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* New issues. */
  .issue.today {
    border-color: var(--darker);
    background-color: var(--shadow);
  }
  /* Item on hover. */
  .card > ul > li:hover,
  .todos-list > .todo:hover {
    border-top-color: transparent !important;
    border-bottom-color: var(--darker) !important;
    background-color: var(--shadow) !important;
  }


  /* Issues :: List. */
  .filtered-search-box {
    border-color: var(--darker);
    background-color: transparent;
  }
  /* Search field. */
  .filtered-search-box .form-control {
    color: var(--light) !important;
    border-color: transparent !important;
  }
  /* Search field words. */
  .filtered-search-box .name {
    color: var(--light);
  }
  .filtered-search-token * {
    color: var(--light);
    background-color: var(--darker) !important;
  }
  /* Search field button. */
  .filtered-search-box .clear-search {
    background-color: var(--dark);
  }

  /* Issues :: Details. */
  .detail-page-header,
  .issuable-details .content-block {
    color: var(--light);
    border-color: var(--darker);
  }
  /* Buttons. */
  .award-control.is-active,
  .award-control.user-authored {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Created branch button. */
  .issuable-details p > code,
  a.gfm-project_member {
    color: var(--lighter) !important;
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }

  /* Cards. */
  .card, .card-slim {
    overflow: hidden;
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .card-header {
    background-color: var(--dark);
  }

  /* Emoji picker. */
  .emoji-menu {
    border-radius: 4px;
    border-color: var(--darker);
    background-color: var(--dark);
  }


  /* Issues :: Board section. */
  .board-inner {
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .board-blank-state,
  .board-promotion-state {
    background-color: var(--dark);
  }
  /* Cards. */
  .board-card {
    border: 1px solid var(--darker);
    background-color: var(--dark);
    box-shadow: none;
  }
  .board-card.is-active,
  .board-card.is-active .board-card-assignee:hover a {
    background-color: var(--darker);
  }
  /* Text color. */
  .board-title,
  .issue-count-badge {
    color: var(--light) !important;
    border-color: var(--darker);
  }
  .board-card-title a {
    color: var(--lighter);
  }
  .board-card-number {
    color: var(--light);
  }


  /* Issues :: Labels. */
  .labels-container {
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }
  .manage-labels-list>li:not(.empty-message):not(.is-not-draggable) {
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .label-badge-gray {
    color: var(--light);
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }


  /* Issues :: Milestones. */
  .milestones {
    background-color: var(--dark);
  }
  .milestones .milestone,
  .milestones .status-box {
    color: var(--light);
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }
  /* Text color. */
  .milestone-range {
    color: var(--light);
  }
  .milestone .milestone-progress a {
    color: var(--accent) !important;
  }
  /* Bar background. */
  .milestone .progress {
    background-color: var(--darker);
  }
  .bg-success {
    color: var(--light);
    background-color: var(--green) !important;
  }
  /* Create milestone footer. */
  .form-actions,
  hr {
    border-top-color: var(--darker);
    background-color: var(--dark);
  }
  /* Promotional. */
  .user-callout.promotion-callout .bordered-box {
    border-color: var(--darker);
    background-color: var(--dark);
  }


  /* Calendar. */
  .pika-single {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Header. */
  .pika-single .pika-label {
    color: var(--lighter) !important;
    background-color: transparent;
  }
  /* Cells. */
  .pika-single td {
    border-color: var(--darker) !important;
  }
  .pika-single .pika-day {
    color: var(--light) !important;
    background-color: var(--dark) !important;
  }
  /* Active. */
  .pika-single .pika-day:hover,
  .pika-single .is-today .pika-day,
  .pika-single .is-selected .pika-day {
    color: var(--lighter) !important;
    background-color: var(--darker) !important;
  }


  /* Pagination. */
  .page-item .page-link {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  /* Selected. */
  .page-item.active .page-link,
  .page-item .page-link:hover {
    color: var(--lighter);
    border-color: var(--accent);
    background-color: var(--accent);
  }
  /* Disabled. */
  .page-item.disabled .page-link {
    color: var(--light);
    border-color: var(--darker);
    background-color: var(--darker);
  }


  /* Merge Requests :: Details. */
  .merge-request-tabs-holder {
    border-bottom-color: var(--darker);
    background-color: var(--dark);
  }
  /* Nav background. */
  .limit-container-width .merge-request-tabs-container .inner-page-scroll-tabs {
    background-color: transparent;
  }
  /* Active tab. */
  .nav-links .active a,
  .nav-links li a.active {
    border-bottom-color: var(--accent);
  }
  /* Resolved. */
  .line-resolve-all {
    border-color: var(--darker);
    background-color: var(--dark);
  }


  /* Merge Requests :: Notes. */
  .discussion-body .notes .note,
  .diff-file .notes .note {
    border-bottom-color: var(--darker);
  }
  /* Reply. */
  .discussion-body .discussion-reply-holder,
  .diff-file .discussion-reply-holder {
    background-color: var(--dark);
  }
  /* Text color. */
  .timeline .system-note .note-text,
  .notes .note-body .note-text {
    color: var(--light) !important;
  }
  .notes .system-note .system-note-commit-list-toggler {
    color: var(--accent) !important;
  }
  /* Table. */
  .notes .note-body .note-text table,
  .notes .note-body .note-text table {
    color: var(--light) !important;
    border-color: var(--darker) !important;
  }
  .notes .note-body .note-text table tr th {
    border: 1px solid var(--darker) !important;
    background-color: var(--dark) !important;
  }
  .notes .note-body .note-text table tr td {
    border-color: var(--darker) !important;
  }
  /* Commit list. */
  .notes .system-note .note-body .note-text:not(.hide-shade)::after {
    background: linear-gradient(transparent -100px, var(--dark) 100%) !important;
  }


  /* Merge Requests :: Diff. */
  .diff-file .notes_holder .notes_line {
    color: var(--light) !important;
    border-color: var(--dark) !important;
    border-right-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  .diff-file .notes_holder .notes_content {
    color: var(--light) !important;
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
  }
  /* Discussion. */
  .diff-file .notes_holder .notes_content .notes {
    background-color: var(--dark) !important;
  }


  /* Docs :: Landing. */
  .landing .landing-header-top {
    border-color: var(--shadow) !important;
    background-color: var(--darker) !important;
  }
  /* Search. */
  .landing .input-container input {
    color: var(--light) !important;
    background-color: var(--dark) !important;
  }
  /* On event. */
  .landing .input-container input:focus {
    box-shadow: 0 4px 16px -4px var(--shadow);
  }
  /* Cards. */
  .main-topics li {
    border: 1px solid var(--darker) !important;
    background-color: var(--dark) !important;
    box-shadow: 0 4px 16px -6px var(--shadow) !important;
  }
  /* Header/footer. */
  .landing .landing-header,
  .landing .footer {
    color: var(--light) !important;
    background-color: var(--darker) !important;
  }
  /* Links. */
  .landing .footer a:hover,
  .landing .footer .source-link a {
    color: var(--accent) !important;
    text-decoration: underline !important;
  }
  .landing .footer .source-link {
    border-top: 1px solid var(--shadow);
    background-color: var(--darker);
  }


  /* Docs :: Search results. */
  .algolia-autocomplete [class*="dataset"],
  .algolia-autocomplete [class*="docsearch-s"] {
    color: var(--light) !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Remove shadow. */
  .algolia-autocomplete .ds-dropdown-menu {
    box-shadow: 0 4px 16px -4px var(--shadow);
  }
  /* Header. */
  .algolia-autocomplete [class*="header"] {
    color: var(--lighter) !important;
    border-bottom-color: var(--darker) !important;
  }
  /* Separator. */
  .algolia-autocomplete .algolia-docsearch-suggestion--content::before {
    background: var(--darker) !important;
  }
  /* Matching result. */
  .algolia-autocomplete [class*="highlight"] {
    box-shadow: inset 0 -2px 0 0 var(--blue) !important;
  }


  /* Docs :: Page. */
  [itemtype*="http://schema.org/WebPage"] .header {
    border-color: var(--shadow) !important;
    background-color: var(--darker) !important;
  }
  /* Search button. */
  .header .docsearch {
    border-radius: 3px !important;
    border-color: var(--darker) !important;
    background-color: var(--dark) !important;
  }
  /* Main content. */
  .main {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  /* TOC. */
  .main .doc-nav > ul {
    background-color: var(--darke);
  }
  /* Remove sidebar. */
  .main ::-webkit-scrollbar {
    display: none !important;
  }
  /* Alerts. */
  .main .alert-info,
  .main blockquote {
    border-color: var(--blue);
    background-color: var(--dark);
  }
  .main .alert-warning {
    border-color: var(--red);
    background-color: var(--dark);
  }
  /* Tables. */
  .main table td,
  .main table th {
    border-color: var(--darker);
  }
  .main table thead {
    background-color: var(--darker);
  }
  /* Border colors. */
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6,
  .main .edit-on,
  .main .comments {
    border-color: var(--darker);
  }
  .main .article-metadata {
    color: var(--light);
  }
  .main code {
    color: var(--accent);
    border: 1px solid var(--darker);
    background-color: var(--dark);
  }


  /* Custom width for fixed width layout. */
  .container-limited {
    max-width: var(--width) !important;
  }
}